*{
    margin:0px;
    padding:0 px;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;
    width: 1600px;
    height: 92px;
    background:rgba(255, 255, 255, 1)
}
.log{
    width: 139px;
    height: 60px;
    cursor: pointer;
}

li a{
    text-decoration: none;
    display: inline-block;
    list-style: none;
    color: black;
}

.nav-menu{
    list-style: none;
}
.nav-menu li{
    display: inline-block;
    font-size: 16 px;
    font-weight: 500;
    padding: 34px 32px;
    
}
.nav-menu li a:hover{
    color:#469165;
}
.nav-btn{
    background-color:#469165;
    width: 164px;
    height: 44px;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: white;
}
.nav-btn:hover{
    color:darkgrey;
}

#banner{
    background:url("../images/hero-bg.png")
    no-repeat center center/cover;
    width: 1600px;
    object-fit: cover;
    height: 674px;
    display:flex; 

}


#banner .hero-section{
    width: 1600px;
    height: 674px;
    margin:115px 120px 180px 120px;

}
#banner .hero-container{

    width: 1360px;
    height: 379px;
    align-items: center;
    margin:115px 120 px 180px 120px;

}

#banner .btn2{
    background-color:white;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    color: #469165;
}
#banner .btn2:hover{
    color:darkgrey;
}
#banner .hero-section .t1{
    font-weight:700;
    font-size: 72px;
    line-height: 84px;
    color:white;
     display:flex;
    align-items:center;
    justify-content:center;

}
#banner .hero-section .t2{
    font-weight:700;
    font-size: 72px;
    line-height: 84px;
    color:#469165;
    display:flex;
    align-items:center;
    justify-content:center;
}
#banner .hero-text{
    font-weight:400px;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    display:flex;
    align-items:center;
    justify-content:center;
    letter-spacing: 0%;
    font-style: Regular;
}

#banner .btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;                
    margin-top: 32px;
}
.nav-btn-div:hover{
    color:darkgrey;
}

#banner .hero-container .btn3{
    color:white;
    width: 251px;
    height: 52px;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
}

#banner .btn4{
    border: 1px solid white; 
    border-radius: 4px;
    width: 198px;
    height: 52px;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    color: white;
}
#banner .btn3:hover{
    color:darkgrey;
}
#banner .btn4:hover{
    color:darkgrey;
}
#note{
    max-width: 1600px;
    padding: 120px 120px 120px 120px;
}

.container{
    width: 1360px;
    height: 448px;
}

.container-head{
    text-align: center;
    margin-bottom: 44px;
    margin-right: 120px;
    margin-left: 120px;
}

.container-head h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.container-head p{
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-box{
    width:322px;
    height:300px;
    padding: 24px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}


.icon{
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.image-c{
    width: 32px;
    height: 32px;
}

.card-box h3{
    font-size: 24px;
    font-weight: 600;
}

.card-box p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

#brain {
    width: 1600px;
    height: 840px;
    padding:0px 120px 0px 120px;
}

#brain .container-b {
    max-width: 1360px;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 60px;
}

#brain .image img {
    width: 600px;
   height: 600px;
   border-radius: 12px;
}

#brain .list {
    max-width: 760px;
}

#brain h4 {
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}

#brain h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin: 0;
    color:#001931;
}

#brain p {
    margin: 40px 0px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}


#brain li {
    position: relative;
    padding-left: 26px; 
    margin-bottom: 16px;
    color: #001931;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    list-style: none;
}

#brain li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url("../images/CheckCircle.png");

}

.cta-wrap{
    height: 506px;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    padding: 2px 120px 120px 120px;
}

.cta-card{
    
    width:1360px;
    background: #F7F6F2;              
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    padding: 80px 40px 80px 40px;
}


.cta-card h2{
  
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #001931;
}

.cta-sub{
    margin:16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;;
    color: #627382;
}

.cta-btn{
    display: inline-flex;
    align-items: center;
    gap: 24px;
    width: 194px;
    height: 52px;
    background:#469165;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    align-items: center;
    justify-content: center;
    color:#FFFFFF;
    padding: 12px 16px 12px 16px;

}
.cta-btn:hover{
    color:darkgrey;
}
.cta-note{
    margin: 16px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}



#footer {
    background: linear-gradient(#001931);
    padding: 120px 120px 30px 120px;
    color: #ffffff;
    height: 348px;
    width: 1600px;
}

.footer-top {
   
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 139px;
    height: 60px;
}

.footer-social h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
    color:#FFFFFF;
}

.footer-social .icons {
    display: flex;
    gap: 16px;
}

.footer-social a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#001931;
    text-decoration: none;
}
#footer hr {
    border: none;
    height: 1px;
    background:rgba(229, 231, 235, 1);
    margin: 80px 0 30px;
    width: 1360px;
    opacity: 0.2;
}

.footer-bottom {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#FAFAFA;
}

