*{
    margin:0px;
    padding:0 px;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;
    width: 1600px;
    height: 92px;
    background:rgba(255, 255, 255, 1)
}
.log{
    width: 139px;
    height: 60px;
    cursor: pointer;
}

li a{
    text-decoration: none;
    display: inline-block;
    list-style: none;
    color: black;
}

.nav-menu{
    list-style: none;
}
.nav-menu li{
    display: inline-block;
    font-size: 16 px;
    font-weight: 500;
    padding: 34px 32px;
    
}
.nav-menu li a:hover{
    color:#469165;
}
.nav-btn{
    background-color:#469165;
    width: 164px;
    height: 44px;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: white;
}
.nav-btn:hover{
    color:darkgrey;
}

#banner{
    background:url("../images/hero-bg.png")
    no-repeat center center/cover;
    width: 1600px;
    object-fit: cover;
    height: 674px;
    display:flex; 

}


#banner .hero-section{
    width: 1600px;
    height: 674px;
    margin:115px 120px 180px 120px;

}
#banner .hero-container{

    width: 1360px;
    height: 379px;
    align-items: center;
    margin:115px 120 px 180px 120px;

}

#banner .btn2{
    background-color:white;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    color: #469165;
}
#banner .btn2:hover{
    color:darkgrey;
}
#banner .hero-section .t1{
    font-weight:700;
    font-size: 72px;
    line-height: 84px;
    color:white;
     display:flex;
    align-items:center;
    justify-content:center;

}
#banner .hero-section .t2{
    font-weight:700;
    font-size: 72px;
    line-height: 84px;
    color:#469165;
    display:flex;
    align-items:center;
    justify-content:center;
}
#banner .hero-text{
    font-weight:400px;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    display:flex;
    align-items:center;
    justify-content:center;
    letter-spacing: 0%;
    font-style: Regular;
}

#banner .btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;                
    margin-top: 32px;
}

#banner .hero-container .btn3{
    color:white;
    width: 251px;
    height: 52px;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
}

#banner .btn4{
    border: 1px solid white; 
    border-radius: 4px;
    width: 198px;
    height: 52px;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    color: white;
}
#banner .btn3:hover{
    color:darkgrey;
}
#banner .btn4:hover{
    color:darkgrey;
}

#note{
    width: 1600px;
    height: 448px;
    align-items:center;
    justify-content:space-between;
    margin:0 auto;
}

#note .head{

    align-items:center;
    justify-content:center;
    margin:0 auto;
}
#note .card{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    
}
#note .card .image-wrap{

    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    border-radius:50%;
    background: rgba(249, 85, 85, 1);
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
}
#note .card .image-wrap .image-c{

    width: 32px;
    height: 32px;
    
} 