*{
    margin:0px;
    padding:0 px;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
   background-color: white;

}
 .navbar{
    width: 1600px;
    height: 92px;
    justify-content: space-between;
    display: flex;
    border-bottom:1px;
    margin: 0 auto;
    align-items: center;
    padding: 12px 16px;
    flex-direction:row;
}
.navbar .menu{
        display: flex;
        gap: 32px;
        align-items: center;
        list-style: none;
        justify-content: center;
    }
.navbar .menu a{
    text-decoration: none;
    font-size: 16px;
    line-height: 152px;
    font-weight: 500;
    color:black;
    margin: 0 auto;
}

.navbar .btn{
        background-color:#469165;
        width: 164px;
        height: 44px;
        border-radius: 4px;
        display:flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
}
#banner{
    background:url("../images/hero-bg.png")
    no-repeat center center/cover;
    width: 2046px;
    object-fit: cover;
    height: 674px;
    display:flex; 

}


#banner .hero-section{
    width: 1360px;
    height: 295px;
    margin:115px 120px 180px 120px;

}
#banner .btn2{
    background-color:white;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    color: #469165;

}
#banner .hero-section .t1{
    font-weight:700;
    font-size: 72px;
    line-height: 84px;
    color:white;
     display:flex;
    align-items:center;
    justify-content:center;

}
#banner .hero-section .t2{
    font-weight:700;
    font-size: 72px;
    line-height: 84px;
    color:#469165;
    display:flex;
    align-items:center;
    justify-content:center;
}
#banner .hero-text{
    font-weight:400px;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    display:flex;
    align-items:center;
    justify-content:center;
    letter-spacing: 0%;
    font-style: Regular;
}

#banner .btn3{
    color:white;
    width: 251px;
    height: 52px;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    background-color: #469165;

}
#banner .btn4{
    box-sizing: border-box;
    border: 1px solid white; 
    border-radius: 4px;
    width: 198px;
    height: 52px;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: 600px;
    font-size: 16px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    background-color: transparent;
    color: white;

}
#note{
    width: 1600px;
    height: 448px;
    align-items:center;
    justify-content:space-between;
    margin:0 auto;
}

#note .head{

    align-items:center;
    justify-content:center;
    margin:0 auto;
}
#note .card{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    
}
#note .card .image-wrap{

    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    border-radius:50%;
    background: rgba(249, 85, 85, 1);
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
}
}
#note .card .image-wrap .image-c{

    width: 32px;
    height: 32px;
    
}